<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Assignment2/src/Driver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Driver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;Z:\CPSC433\pairing.txt&quot; &quot;Z:\CPSC433\parallelpen.txt&quot; &quot;Z:\CPSC433\prefexamp.txt&quot; &quot;Z:\CPSC433\minnumber.txt&quot; &quot;Z:\CPSC433\testCase3_department1.txt&quot; &quot;Z:\CPSC433\testCase4_department2.txt&quot; &quot;Z:\CPSC433\gehtnicht6.txt&quot; &quot;Z:\CPSC433\input.txt&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Assignment2"/>
</launchConfiguration>
